html, body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#favorites-menu {
  max-width: 740px;
  position: absolute;
  top: 3em;
  right: 0;
  background: #222;
}
#gear { position: fixed; right: 0; }
#favorites-menu div { padding: .5em; }
#favorites-menu a { padding: .3em .5em; }
#favorites-menu .page-ref { color: #6fc2ef; cursor: pointer; text-decoration: underline; }
#favorites-menu .external-link { color: #80ffea; }
#settings { display: grid; grid-gap: .5em; grid-template-columns: auto auto; }
#settings label { color: white; }